<!-- Start: 1 Row 1 Column -->
<div>
  <nav class="navbar navbar-light navbar-expand-md d-flex">
    <div class="container-fluid"><a class="navbar-brand" href="#" style="margin-right: 0px;">Expert System v0.1</a>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xl-10 offset-xl-1">
        <app-step-tree></app-step-tree>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-4 offset-xl-1">
        <app-answer [answer]="answer" [currentState]="currentState"></app-answer>
      </div>
      <div class="col-lg-7 col-xl-6 offset-xl-0">
        <app-explanation></app-explanation>
      </div>
    </div>
  </div>
</div>
<!-- End: 1 Row 1 Column -->
