<div style="margin-top: 10px;margin-bottom: 10px;">
  <form>
    <h5 style="margin-bottom: 2px;">Вопрос №1</h5><span style="font-size: 16px;">Желаете ли вы приступить к изучению книги "Десять простых правил для начинающего инвестора"?</span>
    <hr>
    <div class="answers" style="height: 38px;">
      <div class="dropdown" id="choose-answer-menu" style="height: 38px;">
        <button class="btn btn-light dropdown-toggle text-right" data-toggle="dropdown" aria-expanded="false"
                id="choose-answer-button" type="button" style="text-align: right;">Выберите вариант ответа&nbsp;
        </button>
        <div class="dropdown-menu text-center"
             id="choose-answer-list"><a class="dropdown-item" href="#">Да, я хочу это освоить</a><a
          class="dropdown-item" href="#">Нет, у меня сейчас нет времени</a><a class="dropdown-item" href="#">Я
          еще думаю</a></div>
      </div>
      <button class="btn btn-primary answers-button" id="submit-answer-button" type="button"
              style="height: 38px;margin-left: 10px;">Дальше
      </button>
    </div>
  </form>
</div>
